.root {
    display: flex;
    gap: 20px;
    padding: 50px;
}

.container {
    width: 300px;
    height: 400px;
    background-color: #F7F8F9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.container h3 {
    color: #616F86;
}
.create-button{ 
    background-color: transparent;
    border: none ;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #182A4D;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}
.create-button:hover {
    background-color: gray;
}
.issue-input {
    padding: 10px 10px 50px;
    border: none ;
    resize: none;
    border-radius: 4px;
}

.issue-input:focus {
    outline: 2px solid #388BFF;
}

.hide {
    display: none;
}
 .card {
    padding: 20px 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0.2px 0.2px 1px #616F86;
}
.user {
    width: 30px;
    height: 30px;
    background-color: #182A4D;
    color: white ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.user-wrapper{
    position: relative;
}
.users-list {
    background-color: blue;
    color: white ;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 32px;
    left: 10px;
    display: none;
}
.show-list+.users-list{
    display: block;
}